
name: On Challenge Submitted

on:
  pull_request:
    types:
    - opened
    branches:
    - main
    paths:
    - 'teams/**/*.md'

jobs:
  labelling:
    name: 'Add a label on submission: review-required'

    runs-on: ubuntu-latest

    steps:
    - name: Add a label
      uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: '.github/labeler.yml'

  commenting:
    name: 'Add a comment on submission'
    runs-on: ubuntu-latest
    steps:
      - uses: bubkoo/auto-comment@v1.0.7
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pullRequestOpenedReactions: 'rocket, +1'
          pullRequestOpened: >
            π‘‹πΌ @{{ author }} λ‹!
            <br>
            μ±λ¦°μ§€ μ™„λ£ PRλ¥Ό μƒμ„±ν•΄ μ£Όμ…”μ„ κ°μ‚¬ν•©λ‹λ‹¤! π‰ μ°Έκ°€μλ‹μ ν•΄μ»¤ν†¤ μ™„μ£Όλ¥Ό μ‘μ›ν•΄μ”! π’πΌ
            <br>
            PR ν…ν”λ¦Ώ μ‘μ„± κ°€μ΄λ“λΌμΈμ„ μ μ¤€μν•μ…¨λ”μ§€ ν™•μΈν•΄μ£Όμ„Έμ”. μµλ€ν• λΉ λ¥΄κ² λ¦¬λ·°ν•κ² μµλ‹λ‹¤! π
            <br><br>
            π”Ή From. HackaLearn μ΄μμ§„ μΌλ™ π”Ή
