name: On Challenge Updated

on:
  pull_request:
    types:
    - synchronize
    branches:
    - main
    paths:
    - 'teams/**/*.md'
  pull_request_target:
    types:
    - synchronize
    branches:
    - main
    paths:
    - 'teams/**/*.md'

jobs:
  labelling:
    name: 'Add a label on update: review-required'

    runs-on: ubuntu-latest

    steps:
    - name: Add a label
      uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: '.github/labeler.yml'

    - name: Remove a label
      uses: buildsville/add-remove-label@v1
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        label: 'review-completed'
        type: remove
