name: On Challenge Updated

on:
  # pull_request:
  #   types:
  #   - synchronize
  #   branches:
  #   - main
  #   paths:
  #   - 'teams/**/*.md'
  pull_request_target:
    types:
    - synchronize
    branches:
    - main
    paths:
    - 'teams/**/*.md'

jobs:
  labelling:
    name: 'Add a label on update: review-required'

    runs-on: ubuntu-latest

    steps:
    - name: Add a label
      uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: '.github/labeler.yml'

    - name: Remove a label
      uses: buildsville/add-remove-label@v1
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        label: 'review-completed'
        type: remove

    - name: Comment to PR
      uses: bubkoo/auto-comment@v1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        pullRequestSynchronizeReactions: 'rocket, +1'
        pullRequestSynchronize: >
          π‘‹πΌ @{{ author }} λ‹!
          <br>
          μ±λ¦°μ§€ μ™„λ£ PRλ¥Ό μμ •ν•μ…¨μµλ‹λ‹¤! π‘€ μ°Έκ°€μλ‹μ ν•΄μ»¤ν†¤ μ™„μ£Όλ¥Ό μ‘μ›ν•΄μ”! π’πΌ
          <br>
          PR ν…ν”λ¦Ώ μ‘μ„± κ°€μ΄λ“λΌμΈμ„ μ μ¤€μν•μ…¨λ”μ§€ ν™•μΈν•΄μ£Όμ„Έμ”. μµλ€ν• λΉ λ¥΄κ² λ¦¬λ·°ν•κ² μµλ‹λ‹¤! π
          <br><br>
          π”Ή From. HackaLearn μ΄μμ§„ μΌλ™ π”Ή
